/* ------------ Login ------------------------ */
.login_wrapper {
  background: var(--bg-secondary);
}
.login_wrap {
  height: 77vh;
  /* for dark mode */
  color: var(--color-primary);
}
/* logo */
.login_1 {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.login_1 span {
  font-size: 20px;
}
/*input box area */
.login_2 {
  text-align: center;
}
/* BOX format */
.login_2_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: var(--bg-primary);
  box-shadow: 0 1px 25px var(--shadow-1); /* shadow */
  padding: 1rem; /* space inside */
  padding-bottom: 2rem;
  height: fit-content;
  width: 380px;
  border-radius: 10px;
  margin: 1rem auto;
}
/* Buttons inside box*/
.login_2_wrap button {
  width: 100%;
  height: 50px;
  font-size: 17px;
}
/* Forgot password */
.forgot_password {
  color: var(--blue-color);
  cursor: pointer;
  font-size: 14px;
}
.forgot_password:hover {
  text-decoration: underline;
}
/* line divider */
.sign_splitter {
  width: 100%;
  height: 1px;
  background: var(--bg-third);
}
/* green button */
.open_signup {
  background-color: var(--green-color);
  font-size: 20px !important;
  width: 80% !important;
  margin-top: 1rem;
  transition: 0.5s;
}
.open_signup:hover {
  filter: brightness(90%);
}
.sign_extra {
  font-size: 15px;
}
#demo {
  width: 60% !important;
  font-size: 20px !important;
  color: white;
}
#demo:hover {
  width: 70% !important;
}
/* ------------ Login ------------------------ */

/* --------------Register----------------- */


/* 🔴 blur is in the main index.css */
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  /* set div in the middle always */
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 2px 8px var(--shadow-1);
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 1rem;
  height: fit-content;
  width: 350px;
  /* dark mode */
  color: var(--color-primary);
}
.register_header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-third);
  align-items: center;
}
.register_header i {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.register_header span:first-of-type {
  font-weight: 700;
  font-size: 32px;
}
.register_header span:last-of-type {
  font-weight: 700;
  color: var(--color-secondary);
}
.register_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg_line {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reg_col {
  position: relative;
  /* align-self: flex-start; */
  padding: 0 10px;
  margin-bottom: 10px;
}
.reg_line_header {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  color: var(--color-secondary);
}
.reg_line_header i {
  margin-top: 3px;
}
.reg_grid {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 35px;
}
.reg_grid select {
  width: 90px;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--bg-primary);
  border-radius: 5px;
  cursor: pointer;
}
.reg_grid label {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-secondary);
  padding: 0 10px;
  justify-content: space-around;
}
.reg_infos {
  font-size: 10px;
  margin-top: 10px;
  color: var(--color-secondary);
}
.reg_infos span {
  color: var(--blue-color);
}
.reg_btn_wrapper {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.blue_btn{
  padding: 8px ;
}
/* --------------Register----------------- */
/* --------------Footer----------------- */
.log .login_footer {
  height: 22vh;
  background-color: var(--bg-primary);
  padding: 1.5rem;
}
.login_footer_wrap {
  display: flex;
  /* Wrap text responsive */
  flex-wrap: wrap;
  font-size: 13px;
  color: var(--color-secondary);
  margin: 0 auto;
  max-width: 380px;
  gap: 3px 10px;
}
.login_footer_wrap a {
  display: flex;
  align-items: center;
}
.login_footer_wrap a:hover {
  text-decoration: underline;
}
.footer_square {
  background: var(--bg-secondary);
  height: 19px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-third);
}
.footer_square i {
  transform: scale(0.8);
  -webkit-filter: invert(40%);
}
.footer_splitter {
  width: 100%;
  height: 1px;
  background: var(--bg-third);
  margin: 10px auto;
  max-width: 900px;
}
/* --------------Footer----------------- */

/* Media */
@media (min-width: 550px) {
  .login_footer_wrap {
    max-width: 590px;

  }
  .register{
    width:400px
  }

  .reg_grid select,.reg_grid label {
    width: 100px;
  }
}
@media (min-width: 650px) {
  .login_footer_wrap {
    max-width: 650px;
  }
}
@media (min-width: 750px) {
  .login_footer_wrap {
    max-width: 750px;
  }
}
@media (min-width: 850px) {
  .login_wrap {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 1000px;
  }
  .login_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15vh;
    text-align: left;
  }
  /* logo */
  .login_1 img {
    width: 400px;
    margin-left: -2.5rem;
  }
  .login_1 span {
    font-size: 20px;
  }
  .login_2_wrap {
    width: 400px;
  }
  .login_footer_wrap {
    max-width: 900px;
  }
}

/* Media */
